.logo-icon {
  font-family: 'Kosugi', monospace;
  font-size: 2.5rem; /* ajuste conforme necessário */
  font-weight: bold;
}

/* Texto com gradiente aplicado */
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(153, 107, 48, 1) 0%,
    rgba(238, 226, 147, 1) 50%,
    rgba(147, 100, 43, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Compatibilidade extra */
  background-clip: text;
  color: transparent;
}
