.password-input {
    padding-left: 36px;
    /* espaço para o ícone */
    background-color: #60605e;
    /* fundo cinza escuro */
    border: 1px solid #444;
    /* borda escura */
    color: #fff;
    /* texto claro */
    font-size: 1rem;
    height: 45px;
    border-radius: 6px;
    outline: none !important;
    /* remove o outline padrão do navegador */
    box-shadow: none !important;
    /* remove sombra de foco */
    transition: all 0.3s ease;
}

.password-input::placeholder {
    color: #999998;
}

/* Quando o usuário clica no campo */
.password-input:focus {
    background-color: #333333;
    /* mantém o mesmo fundo cinza */
    color: #fff;
    border-color: #f7c948;
    /* mantém a borda escura */
    outline: none !important;
    box-shadow: none !important;
}