.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999998;
  /* Cor do ícone */
  font-size: 1rem;
  pointer-events: none;
  /* Impede clique no ícone */
}

.input-custom {
  border: none;
  outline: none;
  background-color: #60605e;
  padding-left: 36px;
  /* Espaço para o ícone à esquerda */
  color: #ffffff;
  border-radius: 6px;
  height: 45px;
}

.input-custom::placeholder {
  color: #999998;
}

.input-custom:focus {
  background-color: #333333;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  border: 1px solid #f7c948;
}